.artisans-container {
    padding: 120px 20px 60px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .loading, .no-result {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .artisan-card {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #384050;
    background-color: #f1f8fc;
    border: 1px solid #384050;
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.2s ease;
    width: 270px;
    height: 220px;
    box-shadow: none;
  }
  
  .artisan-card:hover {
    transform: translateY(-5px);
  }
  
  .stars {
    margin-top: auto;
    font-size: 1.2rem;
    color: gold;
  }

  .star {
    color: #ccc;
  }

  .star.filled {
    color: #f0c420;
  }