.not-found-container {
    text-align: center;
    padding: 50px 20px;
  
    .not-found-image {
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px;
    }
  
    h1 P{
      font-size: 2rem;
      color: #384050;
      margin-bottom: 10px;
    }
  
    .btn-home {
      padding: 10px 20px;
      background-color: #0074C7;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
  
      &:hover {
        background-color: #384050;
      }
    }
  }
  